.button {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-alignment: left;
}
.button:hover {
    -fx-background-color: rgba(40, 40, 40, 0.7);
}

.button:pressed {
    -fx-background-color:  rgba(40, 40, 40, 1)
}